p {
	font-family: Verdana;
	font-size: 10px;
	text-align: center;
}

img{

	height: 420px;
	width: 420px;
}
div {
	height: 65px;
	width: 140px;
	border-color: #000099;
	background-color: #ccccFF;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	margin: auto;
	text-align: center;
}


a{
	text-decoration: none;
	font-family: Verdana;
}

table {	
	width: 100%;
	border: 1;

}